<div class="week-selector">
    <button appButton (click)="nextWeek(-1)" data-color="primary">
        <i class="fa-solid fa-arrow-left"></i>
    </button>
    <span>
        Week <strong>{{ (selectedWeek().weekNumber | number : '2.0') + ', ' + selectedWeek().year }}</strong>
    </span>
    <button appButton (click)="nextWeek(1)" data-color="primary">
        <i class="fa-solid fa-arrow-right"></i>
    </button>
    <button appButton (click)="goToThisWeek()" data-color="primary">
        <i class="fa-solid fa-calendar-week"></i>
    </button>
</div>
<div class="week">
    @for (day of weekDays; track day) {
    <app-week-day-card
        [weekDayIdentifier]="getWeekDayIdentifier(day)"
        [workEntry]="currentWeekData().entries[day]"
    ></app-week-day-card>
    }
</div>
