@use 'variables' as *;
@use 'element-mixins';

:host {
  display: block;
}

input[type='time'],
input[type='date'] {
  @include element-mixins.dateOrTimeInput();
}

input[type='time'] {
  width: 8em;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;

  width: fit-content;
  margin: 0 auto;
  margin-top: 3em;
  padding: 1em 4em;

  h2 {
    margin: 0;
  }

  label,
  .total-work-diff span:first-of-type {
    text-align: center;
    color: rgba($foreground, 0.5);
    font-weight: lighter;
  }

  label input {
    color: $foreground;

    display: block;
    margin: 0 auto;
    margin-top: 0.5em;
  }

  .total-work-diff span:last-of-type {
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-top: 0.5em;

    padding: 0.5em 0.75em;
    border-radius: 0.5em;

    background: #d66e05;
    color: white;

    font-size: 0.9em;

    &.reached {
      background: green;
    }
  }
}

.week-selector {
  display: flex;
  gap: 0.5em;
  margin-bottom: 1.5em;
  justify-content: center;
  align-items: center;

  button {
    padding: 0.5em;
    width: 2.5em;
    height: 2.5em;
  }
}

.week {
  display: flex;
  gap: 1em;

  > * {
    flex: 1;
  }
}
