:host {
  display: block;
}

.week-selector {
  display: flex;
  gap: 0.5em;
  margin-bottom: 1.5em;
  justify-content: center;
  align-items: center;

  button {
    padding: 0.5em;
    width: 2.5em;
    height: 2.5em;
  }
}

.week {
  display: flex;
  gap: 1em;

  > * {
    flex: 1;
  }
}
