<ng-container
    *ngIf="{
        week: selectedWeek$ | async,
        data: currentWeekData$ | async
    } as vm"
>
    <div class="week-selector">
        <button appButton (click)="nextWeek(vm.week!, -1)" data-color="primary">
            <i class="fa-solid fa-arrow-left"></i>
        </button>
        <span
            >Week <strong>{{ (vm.week!.weekNumber | number : '2.0') + ', ' + vm.week!.year }}</strong></span
        >
        <button appButton (click)="nextWeek(vm.week!, 1)" data-color="primary">
            <i class="fa-solid fa-arrow-right"></i>
        </button>
        <button appButton (click)="goToThisWeek()" data-color="primary">
            <i class="fa-solid fa-calendar-week"></i>
        </button>
    </div>

    <div class="week">
        <app-week-day-card
            *ngFor="let day of weekDays"
            [weekDayIdentifier]="getWeekDayIdentifier(vm.week!, day)"
            [workEntry]="vm.data?.entries?.[day] || null"
        ></app-week-day-card>
    </div>
</ng-container>
