@use 'variables' as *;

$day-background: darken($foreground, 75%);

:host {
  display: block;
}

input[type='time'],
input[type='date'] {
  text-align: center;

  background: rgba(0, 0, 0, 0.2);
  color: inherit;
  border: none;
  font-family: inherit;

  padding: 0.25em;
  border-radius: 1em;

  transition: background 0.2s;
  cursor: text;

  &:hover {
    background: rgba(0, 0, 0, 0.5);
  }
}

input[type='time'] {
  width: 8em;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;

  width: fit-content;
  margin: 0 auto;
  margin-top: 3em;
  padding: 1em 4em;

  background: $day-background;
  border-radius: 0.25em;

  box-shadow: 0 0 0.5em 0.25em rgba(0, 0, 0, 0.1);

  h2 {
    margin: 0;
  }

  label,
  .total-work-diff span:first-of-type {
    text-align: center;
    color: rgba($foreground, 0.5);
    font-weight: lighter;
  }

  label input {
    color: $foreground;

    display: block;
    margin: 0 auto;
    margin-top: 0.5em;
  }

  .total-work-diff span:last-of-type {
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-top: 0.5em;

    padding: 0.5em 0.75em;
    border-radius: 0.5em;

    background: #d66e05;
    color: white;

    font-size: 0.9em;

    &.reached {
      background: green;
    }
  }
}

.week-selector {
  display: flex;
  gap: 0.5em;
  margin-bottom: 1.5em;
  justify-content: center;
  align-items: center;

  button {
    padding: 0.5em;
    width: 2.5em;
    height: 2.5em;
  }
}

.week {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;

  .day {
    display: flex;
    flex-direction: column;
    background: $day-background;

    box-shadow: 0 0 0.5em 0.25em rgba(0, 0, 0, 0.1);

    &.today {
      background: red;
    }

    &,
    .day-title {
      border-radius: 0.25em;
    }

    .day-title {
      font-weight: bold;
      margin: 0;

      background: darken($foreground, 80%);

      padding: 0.75em 1em;
      text-align: center;
    }

    .day-content {
      flex: 1;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2em;

      padding: 1em 1em 2em 1em;

      .day-summary {
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        .total-day-work-time,
        .day-work-time-diff {
          text-align: center;
          padding: 0.25em 1em;
          border-radius: 0.5em;
        }

        .total-day-work-time {
          background: $primary;
          color: $primary-text;
        }

        .day-work-time-diff {
          background: #d66e05;
          color: white;

          font-size: 0.75em;

          &.reached {
            background: green;
          }
        }
      }

      .times {
        position: relative;
        padding: 0 2em;

        display: flex;
        flex-direction: column;
        gap: 2em;

        &::before,
        .pause::before {
          display: block;
          content: '';
          width: 1em;
          height: calc(100% - 1.25em);
          border-radius: 1em;

          position: absolute;
          top: 0.5em;
        }

        &::before {
          left: 0.25em;

          background: $accent;
        }

        .time-input {
          position: relative;

          &::before {
            display: block;
            content: '';
            width: 1.5em;
            height: 1.5em;
            background: darken($foreground, 10%);
            border-radius: 50%;

            position: absolute;
            left: -2em;
            top: 50%;
            transform: translateY(-50%);
          }
        }

        .pauses {
          display: flex;
          flex-direction: column;
          gap: 1.5em;

          .pause {
            display: flex;
            flex-direction: column;
            gap: 1em;
            position: relative;

            &::before {
              left: -1.75em;

              background: darken($foreground, 35%);
            }

            > button {
              border-radius: 50%;
              width: 1.5rem;
              height: 1.5rem;
              font-size: 1em;
              padding: 0;

              position: absolute;
              top: 50%;
              right: -2em;
              transform: translateY(-50%);

              &.accept-add-pause-button {
                top: calc(50% - 1em);
              }

              &.decline-add-pause-button {
                top: calc(50% + 1em);
              }
            }
          }

          > button {
            padding: 0.25em 0.5em;
          }
        }
      }

      .holiday,
      .no-entry {
        flex: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
        margin: 0;
      }

      .holiday {
        margin-bottom: -2em;

        i {
          color: $accent;
          font-size: 2em;
        }

        span {
          font-size: 1.5em;
          line-height: 1.5;
        }
      }

      .no-entry {
        padding-bottom: 1.5em;

        span {
          text-align: center;
          opacity: 0.5;
        }
      }
    }
  }
}
