@use 'variables' as *;

@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Nunito', sans-serif;

  background: $background;
  color: $foreground;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

[appButton] {
  background: lighten($background, 1%);
  color: $primary-text;
  border: none;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  text-align: center;
  font-size: 0.75em;

  cursor: pointer;

  transition: background 0.2s, color 0.2s, opacity 0.2s;

  &[data-color='primary'] {
    background: $primary;
    color: $primary-text;
  }
  &[data-color='accent'] {
    background: $accent;
    color: $accent-text;
  }
  &[data-color='warn'] {
    background: $warn;
    color: $warn-text;
  }

  &:not(:disabled) {
    &:hover {
      background: lighten($background, 3%);

      &[data-color='primary'] {
        background: rgba($primary, 0.5);
        color: inherit;
      }
      &[data-color='accent'] {
        background: rgba($accent, 0.5);
        color: inherit;
      }
      &[data-color='warn'] {
        background: rgba($warn, 0.5);
        color: inherit;
      }
    }

    &:focus {
      box-shadow: 0 0 0 2px lighten($background, 25%);
    }
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
    filter: grayscale(1);
  }
}

[appDateTimeInput] {
  text-align: center;

  background: rgba(0, 0, 0, 0.2);
  color: inherit;
  border: none;
  font-family: inherit;

  padding: 0.25em;
  border-radius: 1em;

  transition: background 0.2s;
  cursor: text;

  &:hover {
    background: rgba(0, 0, 0, 0.5);
  }
}

.fg-primary {
  color: $primary;
}
.fg-accent {
  color: $accent;
}
.fg-warn {
  color: $warn;
}
