$background: #2f2f2f;
$foreground: white;

$primary: #008ab8;
$primary-text: white;

$accent: #63d811;
$accent-text: white;

$warn: #bf000d;
$warn-text: white;

$main-padding: 1em;

$mobile-breakpoint: 510px;

$card-background: darken($foreground, 75%);
