<app-week-day-card-time-input-wrapper>
    <input appInput type="time" [(ngModel)]="pauseStart" class="pause-start-input" />
</app-week-day-card-time-input-wrapper>
<app-week-day-card-time-input-wrapper>
    <input appInput type="time" [(ngModel)]="pauseEnd" class="pause-end-input" />
</app-week-day-card-time-input-wrapper>

<div class="buttons">
    <button appButton (click)="saveEntry()" class="accept-button" data-color="primary" *ngIf="hasChanges">
        <i class="fa-solid fa-check"></i>
    </button>

    <button appButton (click)="removeEntry()" class="delete-button" data-color="warn">
        <i class="fa-solid fa-minus"></i>
    </button>
</div>

<span class="pause-duration" *ngIf="pauseTime !== null">{{ pauseTime | hours }}</span>

