@use 'variables' as *;
@use 'element-mixins';

input[type='time'],
input[type='date'] {
  @include element-mixins.dateOrTimeInput();
  width: 100%;
}

:host {
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: relative;

  &::before {
    display: block;
    content: '';
    width: 1em;
    height: calc(100% - 1.25em);
    border-radius: 1em;

    position: absolute;
    top: 0.5em;
    left: -1.75em;

    background: darken($foreground, 35%);
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    position: absolute;
    top: 50%;
    right: -2em;
    transform: translateY(-50%);

    > button {
      border-radius: 50%;
      width: 1.5rem;
      height: 1.5rem;
      font-size: 1em;
      padding: 0;
    }
  }
}

