<app-week-day-card-time-input-wrapper>
    <input appInput type="time" [(ngModel)]="pauseStart" class="pause-start-input" />
</app-week-day-card-time-input-wrapper>
<app-week-day-card-time-input-wrapper>
    <input appInput type="time" [(ngModel)]="pauseEnd" class="pause-end-input" />
</app-week-day-card-time-input-wrapper>

<div class="buttons">
    @if (hasChanges()) {
    <button appButton (click)="saveEntry()" class="accept-button" data-color="primary">
        <i class="fa-solid fa-check"></i>
    </button>
    }

    <button appButton (click)="removeEntry()" class="delete-button" data-color="warn">
        <i class="fa-solid fa-minus"></i>
    </button>
</div>

@if (pauseTime() !== null) {
<span class="pause-duration">{{ pauseTime() | hours }}</span>
}
