<header>
    <div class="header-content">
        <a appButton routerLink="/settings" routerLinkActive="hidden" class="nav-button">
            <i class="fa-solid fa-gear"></i>
        </a>
        <a appButton routerLink="/dashboard" routerLinkActive="hidden" class="nav-button">
            <i class="fa-solid fa-home"></i>
        </a>
        <div class="title">
            <img src="assets/images/icon.png" />
            <h1>WorkTime</h1>
            <div class="total-work-diff" [class.reached]="hasPositiveHours()">
                {{ totalWorkHoursDiff() | hours : true }}
            </div>
        </div>
        <div class="sync-buttons">
            @if (syncEnabled()) {
            <button appButton (click)="syncData()" [disabled]="isSyncing()">
                <i [class]="'fa-solid ' + syncIcon()" [class.animation-rotate]="isSyncing()"></i>
            </button>
            } @else {
            <button appButton (click)="importExport.exportData()"><i class="fa-solid fa-download"></i></button>
            <button appButton (click)="importExport.importData()"><i class="fa-solid fa-upload"></i></button>
            }
        </div>
    </div>
</header>

<main>
    <router-outlet></router-outlet>
</main>
