@use 'sass:color';
@use 'variables' as *;

:host {
  height: 100%;

  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;

  > * {
    min-width: 0;
  }
}

header {
  padding: 1em $main-padding;

  border-radius: 0 0 1em 1em;

  background: color.scale($background, $lightness: -30%);
  box-shadow: 0 -0.25em 0.5em 0.25em rgba(0, 0, 0, 0.25);

  .header-content {
    display: grid;
    grid-template-columns: 3em auto 3em;
    align-items: center;
    gap: 1em;

    .nav-button.hidden {
      display: none;
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1em;

      img {
        height: 3em;
      }

      h1 {
        margin: 0;
      }

      .total-work-diff {
        display: block;
        width: fit-content;
        padding: 0.5em 0.75em;

        border-radius: 0.5em;

        text-align: center;
        font-size: 0.9em;
        font-weight: lighter;

        background: #d66e05;
        color: white;

        &.reached {
          background: green;
        }
      }
    }

    .sync-buttons {
      display: flex;
      gap: 0.5em;
      justify-content: right;

      i.animation-rotate {
        animation: rotate 1s linear infinite;
      }
    }
  }
}

main {
  overflow: auto;
  padding-top: 2em;
  padding-bottom: 2em;
}

main,
header > .header-content {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: $main-padding;
  padding-right: $main-padding;
}

@media screen and (max-width: $mobile-breakpoint) {
  header .header-content {
    gap: 0.5em;

    h1 {
      display: none;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
