<header
    *ngIf="{
        totalWorkHoursDiff: totalWorkHoursDiff$ | async,
        syncEnabled: sync.isSyncEnabled$ | async,
        isSyncing: sync.isSyncing$ | async,
        syncIcon: syncIcon$ | async
    } as vm"
>
    <div class="header-content">
        <a appButton routerLink="/settings" routerLinkActive="hidden" class="nav-button">
            <i class="fa-solid fa-gear"></i>
        </a>
        <a appButton routerLink="/dashboard" routerLinkActive="hidden" class="nav-button">
            <i class="fa-solid fa-home"></i>
        </a>

        <div class="title">
            <img src="/assets/images/icon.png" />

            <h1>WorkTime</h1>

            <div class="total-work-diff" [class.reached]="(vm.totalWorkHoursDiff || 0) >= 0">
                {{ vm.totalWorkHoursDiff | hours : true }}
            </div>
        </div>

        <div class="sync-buttons">
            <ng-container *ngIf="vm.syncEnabled">
                <button appButton (click)="syncData()" [disabled]="vm.isSyncing">
                    <i [class]="'fa-solid ' + vm.syncIcon" [class.animation-rotate]="vm.isSyncing"></i>
                </button>
            </ng-container>

            <ng-container *ngIf="!vm.syncEnabled">
                <button appButton (click)="importExport.exportData()"><i class="fa-solid fa-download"></i></button>
                <button appButton (click)="importExport.importData()"><i class="fa-solid fa-upload"></i></button>
            </ng-container>
        </div>
    </div>
</header>

<main>
    <router-outlet></router-outlet>
</main>
