<div class="container">
    <app-week-day-card-pause
        [weekDayIdentifier]="weekDayIdentifier"
        [pause]="pause"
        [pauseIndex]="index"
        *ngFor="let pause of pauses; let index = index"
    ></app-week-day-card-pause>

    <app-week-day-card-pause
        [weekDayIdentifier]="weekDayIdentifier"
        [pause]="null"
        [pauseIndex]="null"
        (finishAddPause)="isAddingPause = false"
        *ngIf="isAddingPause"
    ></app-week-day-card-pause>

    <button (click)="isAddingPause = true" [disabled]="isAddingPause" data-color="primary">
        <i class="fa-solid fa-plus"></i> Pause
    </button>
</div>

