@use 'variables' as *;

:host {
  display: block;
}

.day {
  display: flex;
  flex-direction: column;

  &.today {
    &,
    .day-title {
      box-shadow: inset 0 0 0 2px $primary;
    }
  }

  .day-title {
    font-weight: bold;
    margin: 0;
    border-radius: 0.25em;

    background: darken($foreground, 80%);

    padding: 0.75em 1em;
    text-align: center;
  }

  .day-content {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;

    padding: 1em 1em 2em 1em;

    .day-summary {
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      .total-day-work-time,
      .day-work-time-diff {
        text-align: center;
        padding: 0.25em 1em;
        border-radius: 0.5em;
      }

      .total-day-work-time {
        background: $primary;
        color: $primary-text;
      }

      .day-work-time-diff {
        background: #d66e05;
        color: white;

        font-size: 0.75em;

        &.reached {
          background: green;
        }
      }
    }

    .times {
      position: relative;
      padding: 0 2em;

      display: flex;
      flex-direction: column;
      gap: 2em;

      &::before {
        display: block;
        content: '';
        width: 1em;
        height: calc(100% - 1.25em);
        border-radius: 1em;

        position: absolute;
        top: 0.5em;
        left: 0.25em;

        background: $accent;
      }

      .day-progress {
        position: absolute;
        left: 0;
        top: 0.75em;
        z-index: 1;

        transition: top 0.2s;

        &::before {
          content: '▶';
          position: absolute;
          top: 50%;
          right: 100%;
          transform: translateY(-50%);

          color: $primary;
          font-size: 0.75em;
        }
      }
    }

    .holiday,
    .no-entry {
      flex: 1;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1em;
      margin: 0;
    }

    .holiday {
      margin-bottom: -2em;

      i {
        color: $accent;
        font-size: 2em;
      }

      span {
        font-size: 1.5em;
        line-height: 1.5;
      }
    }

    .no-entry {
      padding-bottom: 1.5em;

      span {
        text-align: center;
        opacity: 0.5;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1em;
    }
  }
}

